[submodule "rmd-orchestration"]
	path = rmd-orchestration
	url = https://github.com/PredixDev/rmd-orchestration.git
	branch = master
[submodule "rmd-analytics"]
	path = rmd-analytics
	url = https://github.com/PredixDev/rmd-analytics.git
	branch = master
[submodule "Predix-HelloWorld-WebApp"]
	path = Predix-HelloWorld-WebApp
	url = https://github.com/PredixDev/Predix-HelloWorld-WebApp.git
	branch = master
[submodule "predix-scripts"]
	path = predix-scripts
	url = https://github.com/PredixDev/predix-scripts.git
	branch = master
